/* Display Flex */
@mixin flexbox {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
/* Display Flexbox */
@mixin flexbox-row {
	 @include flexbox;
	-webkit-flex-direction: row;
	flex-direction: row;
}
/* Display Flexbox */
@mixin flexbox-column {
	@include flexbox;
	-webkit-flex-direction: column;
	flex-direction: column;
}
/* Flexbox Wrap */
@mixin flebox-wrap {
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Background Image Center */
@mixin background-image-center($img-url) {
	background: center center no-repeat url($img-url);
}
/* Background Image Cover */
@mixin background-image-cover($img-url) {
	@include background-image-center;
	background-size: cover;
}
/* Background Image Contain */
@mixin background-image-cover($img-url) {
	@include background-image-center;
	background-size: contain;
}
/* Hover transition */
@mixin hover-transition($property, $duration, $end-value, $transition-timing: ease) {
	transition: $property $duration $transition-timing;
	-webkit-transition: $property $duration $transition-timing;
	-moz-transition: $property $duration $transition-timing;
	&:hover {
		#{$property}: $end-value;
	}
}
/* Transform */
@mixin transform($transform-property) {
	transform: $transform-property;
  -webkit-transform: $transform-property;
  -moz-transform: $transform-property;
  -ms-transform: $transform-property;
}
/* Input field placeholder */
@mixin input-placeholder-color($color) {
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { /* Firefox 18- */ color: $color; }
	&::-moz-placeholder {  /* Firefox 19+ */ color: $color; }
	&:-ms-input-placeholder { color: $color; }
}
